

/* mouse over link */
p, li a:hover {
    font-size: 1.2em;
}
p, li {
    font-size: 1.2em;
    font-weight: 600;
 }

h1, h2, h3 {
	font-family: Futura, Helvetica, Arial, sans-serif;
    font-weight: bolder;
}


h4 {
    background-color: transparent;
 }

 p {
  font-size: 1em;
  color: black;
 }
 .panel {
	background-color: transparent !important;
 }
 .container {
 	width: 75% !important;
 }
 p, li .container {
 	font-size: 1.2em;
 }
